.titleBanner {
    width: 100%;
    background-color: var(--primary);
    padding: 0.25rem 1.25rem;
    display: flex;
    justify-content: flex-start;
}

.titleBanner h1 {
    font-size: 3rem;
    margin: 0;
}
