.homeScreen {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.homeTitleOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.homeMapContainer {
    width: 100%;
    height: 100vh;
}

.homeMap {
    width: 100%;
    height: 100%;
}

.homeMapStatus {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    font-size: 1.25rem;
    margin: 0;
}
