.primaryButton {
    border-radius: 30px;
    background-color: var(--primary);
    padding: 8px 38px;
    font-size: 2rem;
    border: none;
    color: #0b3f1c;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    transition: transform 200ms ease, box-shadow 200ms ease,
        background-color 200ms ease;
    text-wrap: nowrap;
}

.primaryButton:hover,
.primaryButton:focus-visible {
    cursor: pointer;
    background-color: #b8f1a0;
}

.primaryButton:active {
    transform: translateY(1px);
}
