#Landing {
    width: 100%;
    height: 100%;
    background-color: var(--color-mint);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5vh 1.5rem;
    gap: 1rem;
}

#Landing h1 {
    font-size: 3rem;
}

#Landing h2 {
    font-size: 2rem;
}

.landingHero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.landingSubheading {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.landingCTA {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4vh;
}
