.headers{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 0.75rem; */
}

#selectHolder{
    margin-top: 10px;
    height: 100px;
}

#selector{
    height: 5px;
}

.contentBox{
    margin-top: 50px;
}

#nextBackParent{
    display: flex;
    flex-direction: column;
    gap: 15px;
}